*.sqlite*
# Python
__pycache__/
*.pyc
.venv/
env/

# AI / ML
*.onnx
dataset_*/
runs_*/
data/
models/

# Specific project
app/Models/ai-services/.venv/
app/Models/ai-services/dataset_*/
app/Models/ai-services/runs_*/
# Docs/guides
app/Models/ai-services/*.md
app/Models/ai-services/cek_api.py
app/Models/ai-services/download_from_roboflow.py
app/Models/ai-services/download_menu_images.py
app/Models/ai-services/train_yolov8_local.py

# Laravel
/vendor/
/node_modules/
.env


# Model
*.onnx
